@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: black;
}

#title {
  text-align: center;
  font-size: 85%;
}

#svg {
  border: 1px dashed black;
  width: 1200px;
  margin: auto;
}

.cell {
}
